<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"></link>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-theme.min.css}"></link>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-datetimepicker.min.css}"></link>


    <script th:src="@{/bootstrap/js/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap-datetimepicker.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap-datetimepicker.zh-CN.js}" ></script>
    <script th:src="@{/bootstrap/js/moment.min.js}"></script>
    <script th:src="@{/js/init_event.js}"></script>
    <script th:src="@{/js/init_ele.js}"></script>
   
</head>
<body>
    <div class="container-fluid" style="margin-top:40px; padding-bottom:20px;">
    	<div class="row">
    		<div class="col-md-4 col-md-offset-5">
    			<form class="form-inline" th:action="@{/v1/fuzzy}" method="GET">
					  <div class="form-group">
					    <input type="text" class="form-control" name="fuzzyKey" placeholder="输入表名或者任务关键字"/>
					  </div>
					  <button type="submit" class="btn btn-default">搜索</button>
				 </form>
    		</div>
    	</div>
    	
    </div>
    
    <div class="container-fluid">
    	<div class="row" style="padding-bottom:20px;">
    		<div class="col-md-9">
    			<button type="button" class="btn btn-danger btn-sm" id="first_index" onClick="location.href='/hbgj/v1/index'"> 首页</button>
    			<button type="button" class="btn btn-danger btn-sm" id="last_update" onClick="location.href='/hbgj/v1/last_updateJob'"> 
    				昨日未更新记录<span class="badge" id="lastNum" th:text="${jobListSize}"></span>
    			</button>
    			<button class="btn btn-primary btn-sm" type="button" id="batchQuery">
				  批量更新 <span class="badge" id="batchNum"></span>
				</button>
    		</div>
    		
    		<div class="col-md-3">
    			<button class="btn btn-default btn-sm" type="button" id="updateAllRecord" disabled="disabled"
    			data-loading-text="更新中……">
				  更新当前全部记录 <span class="badge" id="updateAllRecordNum" th:text="${jobListSize}"></span>
				</button>
				<select class="form-inline input-sm" id="updateAllRecordDay">
					  <option>1</option>
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>5</option>
					  <option>6</option>
					  <option>7</option>
				</select>
    		</div>
    		

    	</div>
    	
    	<div class="row">
    		<div class="col-md-12">
    			<table class="table table-hover" id="allJobTable">
    				<tr class="success">
    					<th>名称</th>
    					<th>路径</th>
    					<th>描述</th>
    					<th>操作表</th>
    					<th>天数</th>
    					<th>操作</th>
    					<th>添加</th>
    				</tr>
    				<tr th:each="jobList: ${jobList}">
						<td th:text="${jobList.jobName}"></td>
						<td th:text="${jobList.jobPath}"></td>
						<td th:text="${jobList.jobDoc}"></td>
						<td th:text="${jobList.jobTable}"></td>
						<td th:text="${jobList.jobType}" style="display:none;"></td>
						<td th:text="${jobList.renewable}" style="display:none;" class="updateable"></td>
						<td>
							<select class="selectpicker executeDay">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							  <option>6</option>
							  <option>7</option>
							</select>
						</td>
						<td>
							<button type="button" data-toggle="tooltip" data-placement="top" class="btn btn-primary btn-xs updateJob"></button>
						</td>
						<td><button class="btn btn-default btn-xs batchUpdate"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td>
						<td th:text="${jobList.id}" style="display:none;"></td>
    				</tr>
    			</table>
    		</div>
    	</div>
    	
    	
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel"></h4>
	      </div>
	      <div class="modal-body">
	      	<div class="container-fluid">
	      		<div class="row">
                    <div class="col-md-4">
                            <div class="input-group date queryDate" readonly="readonly" id="queryStart">
                                <input class="form-control" type="text" id="startDate_val"/>
                                <span class="input-group-addon" >
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                    </div>

                    <div class="col-md-4">
                            <div class="input-group date queryDate" readonly="readonly" id="queryEnd">
                                <input class="form-control" type="text" id='endDate_val'/>
                                <span class="input-group-addon" >
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                    </div>
	      		</div>
	      	</div>

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	        <input type="text" style="display:none;" id="moreJobId"/>
	        <button type="button" id="joinMoreTimeJob" class="btn btn-primary">加入任务队列</button>
	      </div>
	    </div>
	  </div>
	</div>
    	
    	
    </div>
</body>
</html>